<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand ms-1" href="#">
        <img src="logo.png" alt="logo" height="32">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['accueil']" [routerLinkActive]="'active'">Accueil</a>
          </li>
          <li *ngIf="user != undefined" class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['clients']" [routerLinkActive]="'active'">Clients</a>
          </li>
        </ul>
        <form class="d-flex me-2" role="search">
            <a *ngIf="user == undefined" class="nav-link" [routerLink]="['connexion']" [routerLinkActive]="'active'">Connexion</a>
            <a *ngIf="user != undefined" class="nav-link" (click)="deconnecter()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
              </svg>
            </a>
        </form>
      </div>
    </div>
  </nav>